@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Graphik";
  src: local("Graphik"), url(./fonts/GraphikRegular.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Light";
  src: local("Graphik"), url(./fonts/GraphikLight.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Medium";
  src: local("Graphik"), url(./fonts/GraphikMedium.otf) format("opentype");
}

@font-face {
  font-family: "Graphik SemiBold";
  src: local("Graphik"), url(./fonts/GraphikSemibold.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Bold";
  src: local("Graphik"), url(./fonts/GraphikBold.otf) format("opentype");
}

body {
  font-family: "Graphik";
}

@layer components {
  .head {
    @apply text-green mb-4 md:mb-6 uppercase text-xs font-customSemiBold;
  }

  .big_title {
    @apply text-white text-center md:text-3xl lg:text-5xl font-customMedium font-black capitalize md:mb-2 lg:mb-7;
  }

  .centered {
    @apply flex items-center justify-center;
  }

  .dark {
    @apply bg-black text-white
  }
}
