@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Graphik";
  src: local("Graphik"), url(./fonts/GraphikRegular.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Light";
  src: local("Graphik"), url(./fonts/GraphikLight.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Medium";
  src: local("Graphik"), url(./fonts/GraphikMedium.otf) format("opentype");
}

@font-face {
  font-family: "Graphik SemiBold";
  src: local("Graphik"), url(./fonts/GraphikSemibold.otf) format("opentype");
}

@font-face {
  font-family: "Graphik Bold";
  src: local("Graphik"), url(./fonts/GraphikBold.otf) format("opentype");
}

body {
  font-family: "Graphik";
}

@layer components {
  .head {
    @apply text-green mb-6 uppercase font-bold font-customSemiBold;
  }

  .big_title {
    @apply text-white text-center text-5xl font-customMedium font-black capitalize mb-7;
  }

  .button {
    @apply bg-white text-sm uppercase text-dark h-12 px-3 w-full rounded font-customSemiBold tracking-wide;
  }

  .centered {
    @apply flex items-center justify-center;
  }
}
